# Step 1: Phenotypes file preprocessing

Reading an example file to get acquinted with the data format.

### Example file

In [1]:
import pandas as pd

In [2]:
# Specify the path to the gzipped BED file
bed_file_path = 'D:/UT/2 semester/Bioinformatics/Project/phenotypes_example.bed.gz'

# Read the file
df_example = pd.read_csv(bed_file_path, sep='\t')

In [3]:
# Display the DataFrame
df_example.head()

,#Chr,start,end,TargetID,HG00096,HG00097,HG00099,HG00100,HG00101,HG00102,...,NA20810,NA20811,NA20812,NA20813,NA20814,NA20815,NA20816,NA20819,NA20826,NA20828
0,22,17517459,17517460,ENSG00000237438.1,-0.380650,-0.188290,-1.473217,-0.688176,0.204885,-2.260189,...,1.163594,-0.046134,0.266254,-0.221536,-0.415892,1.315590,0.751452,-0.825494,0.311512,0.177256
1,22,17565843,17565844,ENSG00000177663.8,-1.636516,0.971762,-2.548378,-0.989311,-0.512609,0.427753,...,-0.328645,-0.840848,0.963099,-0.945986,-0.243834,-0.138797,0.277514,0.531261,0.204885,1.025357
2,22,17602256,17602257,ENSG00000183307.3,1.315590,-0.765922,-0.311512,-0.288809,0.463708,-0.945986,...,-0.562768,0.825494,-1.007171,-0.300141,0.715944,0.398209,0.904367,-1.860813,-0.627544,-0.512609
3,22,17646176,17646177,ENSG00000069998.8,-1.025357,0.067872,-1.750184,0.640812,0.588380,-0.562768,...,0.627544,0.543799,1.411801,2.042262,-0.463708,-0.421815,0.415892,0.562768,0.029845,-0.363207
4,22,17739124,17739125,ENSG00000093072.10,0.160745,0.177256,-2.336206,-1.007171,0.518806,0.488012,...,-1.775850,-1.121900,-1.679403,0.688176,1.241867,-0.640812,1.043889,2.548378,-0.998201,-0.627544

## Creating our project file

### Loading

In [4]:
tsv_file_path = 'D:/UT/2 semester/Bioinformatics/Project/phenotype.tsv.gz'
df_part1 = pd.read_csv(tsv_file_path, sep='\t')

In [5]:
df_part1.head()

,phenotype_id,quant_id,group_id,gene_id,chromosome,gene_start,gene_end,strand,gene_name,gene_type,gene_version,phenotype_pos,phenotype_gc_content,phenotype_length
0,ENSG00000223972,ENSG00000223972,ENSG00000223972,ENSG00000223972,1,11869,14409,1,DDX11L1,transcribed_unprocessed_pseudogene,5,11869,57.50,1735
1,ENSG00000227232,ENSG00000227232,ENSG00000227232,ENSG00000227232,1,14404,29570,-1,WASH7P,unprocessed_pseudogene,5,29570,54.43,1351
2,ENSG00000278267,ENSG00000278267,ENSG00000278267,ENSG00000278267,1,17369,17436,-1,MIR6859-1,miRNA,1,17436,61.76,68
3,ENSG00000243485,ENSG00000243485,ENSG00000243485,ENSG00000243485,1,29554,31109,1,MIR1302-2HG,lncRNA,5,29554,48.84,1021
4,ENSG00000284332,ENSG00000284332,ENSG00000284332,ENSG00000284332,1,30366,30503,1,MIR1302-2,miRNA,1,30366,31.16,138

To create a phenotype file for tensorqtl eQTL analysis, at first we need to extract phenotype_pos from the file above. With this column, in a needed phenotype file, we create 2 columns: 'start' = 'phenotype_pos', 'end' = 'phenotype_pos' + 1.

Also, we need to preserve chromosome number.

In [6]:
lcl_file_path = 'D:/UT/2 semester/Bioinformatics/Project/GEUVADIS.LCL.tsv.gz'
df_part2 = pd.read_csv(lcl_file_path, sep='\t')

In [7]:
df_part2.head()

,phenotype_id,ERR188021,ERR188022,ERR188023,ERR188024,ERR188026,ERR188027,ERR188028,ERR188029,ERR188030,...,ERR188473,ERR188474,ERR188475,ERR188476,ERR188477,ERR188478,ERR188479,ERR188480,ERR188481,ERR188482
0,ENSG00000237491,-0.050604,1.084762,0.255669,1.746538,-0.441028,2.613248,0.073128,1.074695,-0.859373,...,2.283150,-1.035472,-1.800708,-0.811567,-0.542544,0.278968,2.152092,1.800708,0.000000,-0.373844
1,ENSG00000177757,-0.636173,1.016446,0.095690,1.302267,-0.095690,0.750564,-1.276458,0.943762,2.006124,...,1.180835,-0.699395,-1.629823,1.064736,-0.685112,-0.465944,1.158557,1.385436,-0.186544,-2.006124
2,ENSG00000228794,-0.459688,-0.186544,1.203716,-1.227244,1.251472,-0.692236,-0.044977,-0.061862,-2.006124,...,1.385436,0.410261,0.140972,-0.434842,-0.851271,-0.867533,-0.542544,0.050604,-1.016446,1.035472
3,ENSG00000225880,-0.163715,-0.140972,-0.146650,1.007070,-1.588791,0.706591,0.491153,0.320118,0.278968,...,2.471549,0.447231,-1.651411,-0.067494,-0.917760,-0.349842,1.829902,1.588791,-1.074695,-0.900766
4,ENSG00000272438,0.575398,1.446696,-0.884027,1.136840,0.169414,1.651411,-0.516678,-0.692236,-0.005620,...,-1.094941,0.656954,-0.979457,0.373844,0.629307,-0.152334,-0.721093,-0.643069,1.531846,-0.320118

Now, to match TargetID for each phenotype_id, we need to combine 2 files above by phenotype_id.

### Merging

In [8]:
df = pd.DataFrame({'#Chr': df_part1['chromosome'],
                   'start': df_part1['phenotype_pos'],
                   'end': df_part1['phenotype_pos']+1,
                   'phenotype_id': df_part1['phenotype_id']})

In [9]:
df.head()

  #Chr  start    end     phenotype_id
0    1  11869  11870  ENSG00000223972
1    1  29570  29571  ENSG00000227232
2    1  17436  17437  ENSG00000278267
3    1  29554  29555  ENSG00000243485
4    1  30366  30367  ENSG00000284332

In [10]:
# Merge DataFrames based on 'phenotype_id' column
merged_df = pd.merge(df, df_part2, on='phenotype_id')

### Rename column

In [11]:
merged_df = merged_df.rename(columns={'phenotype_id': 'TargetID'})
merged_df = merged_df.groupby('#Chr', sort=False, group_keys=False).apply(lambda x: x.sort_values(['start', 'end']))
merged_df.head()

,#Chr,start,end,TargetID,ERR188021,ERR188022,ERR188023,ERR188024,ERR188026,ERR188027,...,ERR188473,ERR188474,ERR188475,ERR188476,ERR188477,ERR188478,ERR188479,ERR188480,ERR188481,ERR188482
0,1,778747,778748,ENSG00000237491,-0.050604,1.084762,0.255669,1.746538,-0.441028,2.613248,...,2.283150,-1.035472,-1.800708,-0.811567,-0.542544,0.278968,2.152092,1.800708,0.000000,-0.373844
1,1,817371,817372,ENSG00000177757,-0.636173,1.016446,0.095690,1.302267,-0.095690,0.750564,...,1.180835,-0.699395,-1.629823,1.064736,-0.685112,-0.465944,1.158557,1.385436,-0.186544,-2.006124
2,1,825138,825139,ENSG00000228794,-0.459688,-0.186544,1.203716,-1.227244,1.251472,-0.692236,...,1.385436,0.410261,0.140972,-0.434842,-0.851271,-0.867533,-0.542544,0.050604,-1.016446,1.035472
3,1,827522,827523,ENSG00000225880,-0.163715,-0.140972,-0.146650,1.007070,-1.588791,0.706591,...,2.471549,0.447231,-1.651411,-0.067494,-0.917760,-0.349842,1.829902,1.588791,-1.074695,-0.900766
4,1,904834,904835,ENSG00000272438,0.575398,1.446696,-0.884027,1.136840,0.169414,1.651411,...,-1.094941,0.656954,-0.979457,0.373844,0.629307,-0.152334,-0.721093,-0.643069,1.531846,-0.320118

## Save file

In [12]:
save_path = 'D:/UT/2 semester/Bioinformatics/Project/phenotype_preprocessed.bed'
merged_df.to_csv(save_path, sep='\t', index=False)

In [13]:
merged_df[merged_df['end'] == '51627384']

Empty DataFrame
Columns: [#Chr, start, end, TargetID, ERR188021, ERR188022, ERR188023, ERR188024, ERR188026, ERR188027, ERR188028, ERR188029, ERR188030, ERR188031, ERR188032, ERR188033, ERR188034, ERR188035, ERR188036, ERR188037, ERR188038, ERR188039, ERR188040, ERR188041, ERR188042, ERR188043, ERR188044, ERR188045, ERR188046, ERR188047, ERR188048, ERR188049, ERR188050, ERR188051, ERR188052, ERR188053, ERR188054, ERR188055, ERR188056, ERR188057, ERR188058, ERR188059, ERR188060, ERR188061, ERR188062, ERR188063, ERR188064, ERR188065, ERR188066, ERR188067, ERR188068, ERR188069, ERR188070, ERR188071, ERR188072, ERR188073, ERR188074, ERR188075, ERR188076, ERR188077, ERR188078, ERR188079, ERR188080, ERR188081, ERR188082, ERR188083, ERR188085, ERR188086, ERR188087, ERR188088, ERR188089, ERR188090, ERR188091, ERR188092, ERR188094, ERR188095, ERR188096, ERR188097, ERR188098, ERR188099, ERR188100, ERR188101, ERR188102, ERR188103, ERR188104, ERR188105, ERR188107, ERR188108, ERR188109, ERR188110, ERR188111, ERR188112, ERR188113, ERR188114, ERR188115, ERR188116, ERR188117, ERR188118, ERR188119, ERR188120, ...]
Index: []

[0 rows x 449 columns]

# Testing file reading on tensorqtl function

In [14]:
def read_phenotype_bed(phenotype_bed):
    """Load phenotype BED file as phenotype and position DataFrames"""
    if phenotype_bed.endswith(('.bed.gz', '.bed')):
        phenotype_df = pd.read_csv(phenotype_bed, sep='\t', index_col=3, dtype={'#chr':str, '#Chr':str})
    elif phenotype_bed.endswith('.parquet'):
        phenotype_df = pd.read_parquet(phenotype_bed)
        phenotype_df.set_index(phenotype_df.columns[3], inplace=True)
    else:
        raise ValueError('Unsupported file type.')
        
    print("Step 1 finished.")
    
    phenotype_df.rename(columns={i:i.lower().replace('#chr','chr') for i in phenotype_df.columns[:3]}, inplace=True)

    phenotype_df['start'] += 1  # change to 1-based
    pos_df = phenotype_df[['chr', 'start', 'end']]
    phenotype_df.drop(['chr', 'start', 'end'], axis=1, inplace=True)

    print("Step 2 finished.")
    
    # make sure BED file is properly sorted
    assert pos_df.equals(
        pos_df.groupby('chr', sort=False, group_keys=False).apply(lambda x: x.sort_values(['start', 'end']))
    ), "Positions in BED file must be sorted."

    print("Step 3 finished.")
    
    if (pos_df['start'] == pos_df['end']).all():
        pos_df = pos_df[['chr', 'end']].rename(columns={'end':'pos'})

    print("Step 4 finished.")
    return phenotype_df, pos_df

In [15]:
#phenotype_df, phenotype_pos_df = read_phenotype_bed('D:/UT/2 semester/Bioinformatics/Project/phenotypes_example.bed.gz')
phenotype_df, phenotype_pos_df = read_phenotype_bed(save_path)

Step 1 finished.
Step 2 finished.
Step 3 finished.
Step 4 finished.

In [16]:
phenotype_df.head()

,ERR188021,ERR188022,ERR188023,ERR188024,ERR188026,ERR188027,ERR188028,ERR188029,ERR188030,ERR188031,...,ERR188473,ERR188474,ERR188475,ERR188476,ERR188477,ERR188478,ERR188479,ERR188480,ERR188481,ERR188482
TargetID,,,,,,,,,,,,,,,,,,,,,
ENSG00000237491,-0.050604,1.084762,0.255669,1.746538,-0.441028,2.613248,0.073128,1.074695,-0.859373,-0.349842,...,2.283150,-1.035472,-1.800708,-0.811567,-0.542544,0.278968,2.152092,1.800708,0.000000,-0.373844
ENSG00000177757,-0.636173,1.016446,0.095690,1.302267,-0.095690,0.750564,-1.276458,0.943762,2.006124,-0.997781,...,1.180835,-0.699395,-1.629823,1.064736,-0.685112,-0.465944,1.158557,1.385436,-0.186544,-2.006124
ENSG00000228794,-0.459688,-0.186544,1.203716,-1.227244,1.251472,-0.692236,-0.044977,-0.061862,-2.006124,-0.453451,...,1.385436,0.410261,0.140972,-0.434842,-0.851271,-0.867533,-0.542544,0.050604,-1.016446,1.035472
ENSG00000225880,-0.163715,-0.140972,-0.146650,1.007070,-1.588791,0.706591,0.491153,0.320118,0.278968,0.123962,...,2.471549,0.447231,-1.651411,-0.067494,-0.917760,-0.349842,1.829902,1.588791,-1.074695,-0.900766
ENSG00000272438,0.575398,1.446696,-0.884027,1.136840,0.169414,1.651411,-0.516678,-0.692236,-0.005620,0.039352,...,-1.094941,0.656954,-0.979457,0.373844,0.629307,-0.152334,-0.721093,-0.643069,1.531846,-0.320118

In [17]:
phenotype_pos_df.head()

                chr     pos
TargetID
ENSG00000237491   1  778748
ENSG00000177757   1  817372
ENSG00000228794   1  825139
ENSG00000225880   1  827523
ENSG00000272438   1  904835